body {
    min-width: 1040px;
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 24px;
    font-family: "Arial", sans-serif;
    color: #404040;
    background-color: white;
}

* {
    box-sizing: border-box;
}

*:before {
    box-sizing: border-box;
}

*:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

.container__wide {
    width: 1015px;
    margin: 0 auto;
}

.container {
    width: 800px;
    margin: 0 auto;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/* Header */

.header {
    min-height: 550px;
    padding-top: 60px;
    background-image: url("../img/wheat-back.jpg");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
}

.header__top {
    margin-bottom: 120px;
}

.header__logo {
    float: left;
    width: 140px;
    height: 76px;
}

.header__logo img {
    width: 140px;
    height: 76px;
}

.header__nav_menu {
    height: 59px;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    float: left;
    width: 600px;
    margin: 0;
    margin-top: 10px;
    margin-left: 60px;
    padding: 0;
    list-style: none;
}

.header__nav_menu li {
    float: left;
    margin-right: 50px;
    text-transform: uppercase;
}

.header__nav_menu li:last-child {
    margin-right: 0;
}

.header__nav_item {
    font-size: 16px;
    font-weight: bold;
    font-family: "Arial", sans-serif;
    color: #ffffff;
    text-decoration: none;
}

.header__nav_item:hover {
    text-decoration: underline;
}

.header__nav_item:active {
    color: rgba(255, 255, 255, 0.3);
}

.header__title {
    font-weight: bold;
    font-size: 70px;
    line-height: 70px;
    font-family: "Arial", sans-serif;
    text-align: center;
    color: white;
}

/* Latest */

.latest {
    background-color: white;
}

.latest__tittle {
    font-family: "Arial", sans-serif;
    font-size: 40px;
    font-weight: bold;
    line-height: 61px;
    color: black;
    text-transform: uppercase;
    margin-top: 80px;
    margin-bottom: 75px;
}

.latest__box {
    display: flex;
    margin-bottom: 109px;
}

.latest__item {
    padding-left: 33px;
    position: relative;
    width: 400px;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    border-collapse: collapse;
}

.latest__item_left {
    border-right: transparent;
}

.latest__item_tittle {
    font-family: "Arial", sans-serif;
    font-size: 40px;
    font-weight: bold;
    line-height: 61px;
    color: black;
    text-transform: uppercase;
    margin-bottom: 28px;
}

.latest__item_table {
    position: absolute;
    top: 85px;
    right: 35px;
    border-collapse: collapse;
}

.latest__item_table_data {
    font-family: "Arial", sans-serif;
    font-size: 16px;
    font-weight: bold;
    line-height: 41px;
    color: black;
    text-transform: uppercase;
    border: 1px solid rgba(0, 0, 0, 0.1);
    width: 70px;
    height: 38px;
    padding-left: 10px;
}

.latest__item_table_data_left {
    width: 79px;
    height: 40px;
}

.latest__item_text {
    position: absolute;
    top: 163px;
    right: 27px;
    font-family: "Arial", sans-serif;
    font-size: 14px;
    line-height: 24px;
    color: #404040;
    width: 148px;
}

.latest__item_img {
    margin-left: 11px;
}

.latest__item_description {
    font-family: "Arial", sans-serif;
    font-size: 16px;
    line-height: 30px;
    color: #404040;
    width: 338px;
    height: 77px;
    margin-top: 3px;
    margin-left: 1px;
}

.latest__item_box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 332px;
    margin-top: 73px;
}

.latest__item_btn_about {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    text-transform: uppercase;
    width: 147px;
    height: 50px;
    font-family: "Arial", sans-serif;
    font-size: 16px;
    line-height: 20px;
    color: #834700;
    border: 2px solid #834700;
}

.latest__item_btn_buy {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    text-transform: uppercase;
    width: 109px;
    height: 50px;
    font-family: "Arial", sans-serif;
    font-size: 16px;
    line-height: 20px;
    color: white;
    background-color: #834700;
    border: 2px solid #834700;
    margin-left: -18px;
}

/* Advantages */

.advantages {
    height: 410px;
    background-color: #ffcb78;
}

.advantages ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.advantages__item {
    position: relative;
    float: left;
    margin-top: 75px;
    margin-bottom: 100px;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
}

.advantages__item:first-child {
    border-left-color: transparent;
}

.advantages__item_left {
    width: 307px;
}

.advantages__item_middle {
    width: 400px;
    padding-left: 92px;
}

.advantages__item_right {
    width: 305px;
    padding-left: 92px;
}

.advantages__item::before {
    content: "";
    position: absolute;
    top: 5px;
    left: 4px;
    width: 200px;
    height: 68px;
    background-repeat: no-repeat;
}

.advantages__item_left::before {
    background-image: url(../img/icon-brew.png);
    
}

.advantages__item_middle::before {
    background-image: url(../img/icon-matreshka.png);
    background-position: 90px 0;
    
}

.advantages__item_right::before {
    background-image: url(../img/icon-thumbsup.png);
    background-position: 90px 0;
    
}

.advantages__title {
    margin: 0;
    margin-bottom: 20px;
    margin-top: 105px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 30px;
    font-family: "Arial", sans-serif;
    color: black;
}

.advantages__item p {
    margin: 0;
    width: 210px;
    font-size: 16px;
    line-height: 30px;
    font-family: "Arial", sans-serif;
    color: black;
}

/* History */

.history {
    background-color: white;
}

.history__tittle {
    font-family: "Arial", sans-serif;
    font-size: 40px;
    font-weight: bold;
    line-height: 61px;
    color: black;
    text-transform: uppercase;
    margin-top: 80px;
    margin-bottom: 59px;
}

.history_dl {
    margin-bottom: 80px;
}

.history__item {
    position: relative;
    margin-top: 59px;
}

.history__item_tittle{
    font-family: "Arial", sans-serif;
    font-size: 20px;
    font-weight: bold;
    line-height: 30px;
    color: black;
    text-transform: uppercase;
}

.history__item_source {
    position: absolute;
    top:0;
    right: 0;
    font-family: "Arial", sans-serif;
    font-size: 16px;
    font-weight: normal;
    line-height: 30px;
    color: #444;
    text-transform: none;
}

.history__item_link {
    color: #834700;
}

.history__item_defenition{
    margin: 0;
    padding: 0;
}

.history__item_img {
    position: absolute;
    top:60px;
    right: 0;
    width: 200px;
    height: 101px;
}

.history__item_text {
    font-family: "Arial", sans-serif;
    font-size: 16px;
    font-weight: normal;
    line-height: 30px;
    color: #404040;
    width: 488px;
    margin-top: 20px;
}

/* Press */

.press{
    background-color: #ede5d8;
}